.P3S3{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    row-gap: 37px;
    column-gap: 32px;
}
@media screen and (max-width:1250px){
    .P3S3{
       overflow-x: scroll;
         
    }

}
