.P2S1{
    display: flex;
}
.P2S1RightSaid .P2S1RightSaid1{
    margin: 249px 78px 27px 100px;

}
.P2S1LeftSaid{
    padding: 440px 0px 299px 100px;
}
.P2S1LeftSaid1{
   margin-bottom: 35px;
 
}
.P2S1LeftSaid2{
    margin-bottom: 50px;
    line-height: 35px;
  
 }
 .P2S1LeftSaid3{
    margin-bottom: 23px;
  
 }
.P2S1RightSaid7{
    position: absolute;
    top: 460px;
    right: 450px;
    z-index: 888;
}
.P2S1RightSaid8{
    position: absolute;
    top: 917px;
    right: 300px;
    z-index: 888;
}
@media screen and (max-width:1250px){
    .P2S1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    
    
}
