.P2S6Part1{
    padding: 108px 326px 0px 326px;
    text-align: center;
}
.P2S6Part1 .P2S6Part1_1{
    margin-bottom: 35px;
}
.P2S6Part1 .P2S6Part1_2{
    line-height: 35px;
}
.P2S6Part2{
    margin: 66px 312px 110px 312px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.P2S6Part2 .P2S6Part2Button1{
   width: 80px;
   height: 80px;
    
}
.P2S6Part2 .P2S6Part2Button2{
    width: 80px;
    height: 80px;
   
}
.P2S6Part3{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 179px 68px 206px;
}

.P2S6Part3 .P2S6Part3_Full1{
    margin-bottom: 19px;

}   
.P2S6Part3 .P2S6Part3_Full2{
    margin-bottom: 24px;

}   
.P2S6Part3 .P2S6Part3_Full3{
    line-height: 30px;

}   