.P2S2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.P2S2UpPart{
    color:  #858A8F;
    margin-top: 67px;  
    padding-left: 90px;
}


.P2S2DownPart{
    margin: 33px 0px 73px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.P2S2DownPart img{
   margin-right: 120px;
}
