.P1S1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.P1S1UpPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 233px;
}
.P1S1UpPart div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.P1S1UpPart .P1S1UpPart2 {
   margin-top:20px;
   line-height: 35px;
}
.P1S1UpPart .P1S1Button{
    display: flex;
    margin: 37px 0px 83px 0px;
}
.P1S1Button button{
    
    margin-right: 20px;
}
@media screen and (max-width:320px){
    .P1S1UpPart2 p{
        width: 450px;  
    } 
    .P1S1DownPart img{
        width: 400px;
        height: 200px;
        

    }
    
}
@media screen and (max-width:375px){
    .P1S1DownPart img{
        width: 500px;
        height: 250px;

    }
    
}
@media screen and (max-width:425px){
    .P1S1DownPart img{
        width: 600px;
        height: 300px;

    }
    
}
@media screen and (max-width:768px){
    .P1S1DownPart img{
        width: 700px;
        height: 350px;

    }
    
}
@media screen and (max-width:1024px){
    .P1S1DownPart img{
        width: 800px;
        height: 400px;

    }
    
}


