.P2S4{
    display: flex;
}
.P2S4LeftSaid{
  margin: 148px 106px 137px 100px;
  
}
.P2S4RightSaid{
  margin: 215px 77px 215px 0px;
  
}
.P2S4RightSaid .P2S4RightSaid1{
  margin-bottom: 34px;
}
.P2S4RightSaid .P2S4RightSaid2{
  margin-bottom: 34px;
  line-height: 35px;
}
.P2S4RightSaid .P2S4RightSaid3{
  margin-bottom: 34px;
}
.P2S4RightSaid .P2S4RightSaid5{
  margin-top: 10px;
}

