.P1S3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
}
.P1S3LeftSide{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 33px;
    column-gap: 33px;
    margin: 144px 0px 144px 0px;
}
.P1S3RightSide{
    margin-bottom: 144px;

}
.P1S3RightSidePart1{
    margin-bottom: 20px;
    line-height: 70px;

}
.P1S3RightSidePart2{
    margin-bottom: 20px;
    line-height: 35px;

}

@media screen and (max-width:800px){
    .P1S3LeftSide{
       overflow-x: scroll;
        
        
    }
}



