.Header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
}
.HeaderLogo{
    color: #333333;
}
.HeaderList{
    display: flex;
}
.HeaderList ul li{
    list-style-type: none;
    margin-left: 27.5px;
   
}
.HeaderList ul li img{
    margin-left: 15px;
   
}
.HeaderList .HeaderListMain .HeaderListMainNav{
    text-decoration: none;
    color: #858A8F;
   
}
.Show{
   color: #000;
}
.DontShow{
   display: none;
}
.SubList{
    position: absolute;
    top: 80px;
    background-color: #858A8F;
    min-width: 100px;
    min-height: 159px;
}
.SubList li{
    padding: 5px;
    margin: 5px;

   
}
.SubList li a{
   color: #ffffff;
   text-decoration: none;
    
}
@media screen and (max-width:1000px){
  
  
}
