.P1S6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.P1S6Part1{
    margin-top: 108px;
 }
 .P1S6Part1 p{
    text-align: center;
 }
.P1S6Part2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 74px;
    margin-bottom: 74px;
}
.P1S6Part2 div{
    margin-left: 32px;
}
.P1S6Part3{
    display: flex;
    margin-bottom: 142px;
}
@media screen and (max-width:800px){
    .P1S6Part2 div{
        margin-bottom: 32px;
    }
    
}