
/* Shape1 */

.Footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.Footer1Part1{ 
    width: 1240px;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../Asset/Images/Footer/Rectangle-8.png');
    background-repeat: no-repeat;
    margin: 150px 100px 123px 100px;
}
.Footer1Part2{
    margin: 0px 167px 96px 98px;
    display: flex;
}
.Footer1Part2Col1{
    margin-right: 132px;
    
}
.Footer1Part2Col1 ul li{
    list-style-type: none;
    
}
.Footer1Part2Col1 ul li a{
    text-decoration: none;
    
}
.Footer1Part2Col1Part1 h1{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 24px;

}
.Footer1Part2Col1Part1 p{
    text-decoration: none;
    list-style-type: none;
    line-height: 35px;
    margin-bottom: 33px;
}
.Footer1Part2Col1Part2{
    display: flex;
}
.Footer1Part2Col1Part2 li{
    margin-right: 25px;
}
.Footer1Part2Header{
    padding-bottom: 8px;

}
.Footer1Part2Col2{
    margin-top: 16px;
    margin-right: 87px;

}
.Footer1Part2Col2 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer1Part2Col2 ul li a{
   text-decoration: none;
    
}

.Footer1Part2Col3{
    margin-top: 16px;
    margin-right: 86px;

}
.Footer1Part2Col3 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer1Part2Col3 ul li a{
   text-decoration: none;
    
}
.Footer1Part2Col4{
    margin-top: 16px;
    margin-right: 98px;

}
.Footer1Part2Col4 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer1Part2Col4 ul li a{
   text-decoration: none;
    
}
.Footer1Part2Col5{
    margin-top: 16px;
   

}
.Footer1Part2Col5 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer1Part2Col5 ul li a{
   text-decoration: none;
    
}
.Footer1Part2Col5 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer1Part2Col5 ul li a{
   text-decoration: none;
    
}
.Footer1Part3{
    margin-bottom: 144px;
}

/* Shape2 */

.Footer2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Footer2 .Footer2Part2{
   display: flex;
}
.Footer2 .Footer2Part2 li{
    list-style-type: none;
    margin-left: 83px;
}
.Footer2 .Footer2Part2 li a{
    text-decoration: none;
}

.Footer2 .Footer2Part4{
    display: flex;
}
.Footer2 .Footer2Part4 li{
    list-style-type: none;
    margin-left: 24px;
}
.Footer2 .Footer2Part5{
    line-height: 30px;
}
.Footer2Part3{
    display: flex;
    margin-left: 70px;
}
.Footer2Part3 button{
    margin-right: 32px;
}

/* Shape3 */

.Footer3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Footer3Part1{
    margin: 131px 166px 96px 98px;
    display: flex;
    

}
.Footer3Part1Col1{
    margin-right: 144px;
    
}
.Footer3Part1Col1 ul li{
    list-style-type: none;
    
}
.Footer3Part1Col1 ul li a{
    text-decoration: none;
    
}
.Footer3Part1Col1Part1 h1{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 24px;

}
.Footer3Part1Col1Part1 p{
    text-decoration: none;
    list-style-type: none;
    line-height: 35px;
    margin-bottom: 33px;
}
.Footer3Part2Col1Part2{
    display: flex;
}
.Footer3Part2Col1Part2 li{
    margin-right: 25px;
}
.Footer3Part2Header{
    padding-bottom: 8px;

}
.Footer3Part2Col1{
    margin-top: 16px;
    margin-right: 87px;

}
.Footer3Part2Col1 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer3Part2Col1 ul li a{
   text-decoration: none;
    
}

.Footer3Part2Col2{
    margin-top: 16px;
    margin-right: 86px;

}
.Footer3Part2Col2 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer3Part2Col2 ul li a{
   text-decoration: none;
    
}
.Footer3Part2Col3{
    margin-top: 16px;
    margin-right: 98px;

}
.Footer3Part2Col3 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer3Part2Col3 ul li a{
   text-decoration: none;
    
}
.Footer3Part2Col4{
    margin-top: 16px;
   

}
.Footer3Part2Col4 ul li{
   list-style-type: none;
   margin-bottom: 19px;
   
}
.Footer3Part2Col4 ul li a{
   text-decoration: none;
    
}
.Footer3Part3{
    margin-bottom: 144px;
}





@media screen and (max-width:800px){
    .Footer1{
       display: none;
    }
    
}

