.P2S1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.P2S1RightSaid1{
    margin-top: 249px;
}
.P2S1LeftSaid{
    margin-top: 233px;
}
.P2S1LeftSaid1{
   margin-bottom: 35px;
 
}
.P2S1LeftSaid2{
    margin-bottom: 50px;
    line-height: 35px;
  
 }
 .P2S1LeftSaid3{
    margin-bottom: 23px;
  
 }
.P2S1RightSaid7{
    position: absolute;
    top: 460px;
    right: 450px;
    z-index: 888;
}
.P2S1RightSaid8{
    position: absolute;
    top: 917px;
    right: 300px;
    z-index: 888;
}
@media screen and (max-width:800px){
    .P2S1LeftSaid{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .P2S1RightSaid1{
        margin-top: 150px;
    }
    .P2S1LeftSaid1 p{
        font-size: 40px;
      
     }
     .P2S1LeftSaid2 p{
         font-size: 18px;
       
      }
      .P2S1RightSaid1{
        width: 400px;
        
      }
      .P2S1RightSaid7{
        position: relative;
        top: 0px;
        right: 0px; 
    }
    .P2S1RightSaid8{
        position: relative;
        top: 0px;
        right:0px;
    }
   
    
    
}
