.P2S5{
    display: flex;
}
.P2S5RightSaid{
  margin: 129px 70px 14px 110px;
  
}
.P2S5LeftSaid{
  margin: 230px 0px 235px 100px;
  
}
.P2S5LeftSaid .P2S5LeftSaid1{
  margin-bottom: 34px;
}
.P2S5LeftSaid .P2S5LeftSaid2{
  margin-bottom: 34px;
  line-height: 35px;
}
.P2S5LeftSaid .P2S5LeftSaid3{
  margin-bottom: 39px;
}
.P2S5LeftSaid .P2S5LeftSaid5{
  margin-top: 40px;
}

